<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit JSON Data</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

    <!-- and it's easy to individually load additional languages -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>

    
    </head>
        <body>
            <h1>WELCOME</h1>
      
                <pre><code id="editableCode" class="language-python" contenteditable="true">print("CODE")</code></pre>
                <textarea id="ouput"></textarea>

                <form id="jsonForm" action="/execute" method="POST">
                    <input type="hidden" name="code" id="hiddenCode">
                    <input type="submit" value="RUN">
                </form>
            <script type="module" src="{{ url_for('static', filename='js/form_submit.js') }}"></script>
            <script src="{{ url_for('static', filename='js/code_editor.js') }}"></script>
            <!-- <script type="module" src="{{ url_for('static', filename='js/notification.js') }}"></script> -->

        </body>
</html>
